/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 
.contianer{
    width: 100%;
    height: 100vh;
    background-color: crimson;
}
.main-container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: chartreuse;
}
.col{
    color: white;
    float: left;
    overflow: hidden;
}
.col-left{
    width: 250px;
    height: 100%;
    background-color: black;
}
.col-right{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
}

.footer-music{
    height: 100px;
    width: 100%;
    background-color: #282828;
}