/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 
.contianer{
    width: 100%;
    height: 100vh;
    background-color: crimson;
}
.main-container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: chartreuse;
}
.col{
    color: white;
    float: left;
    overflow: hidden;
}
.col-left{
    position: relative;
    width: 250px;
    height: 100%;
    background-color: black;
}

.img-logo{
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
}
#second .lista-col-left ul{
    list-style-type: none;
    margin-top: 20px;
}
#second.lista-col-left{
    height: 400px;
    overflow-y: auto;
}
.lista-col-left ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    color: gray;
    font-weight: bold;
    margin-top: 10px;
    
}
#vertical-line{
    border-left: 3px solid #8fd12c;
    color: white;
    font-weight: bold;
}
.lista-col-left ul li img{
    width: 10%;
}
#last-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#plus{
    background-color: gray;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-right: 5px;
}
#playlist{
    font-weight: bold;
    color: white;
}
.mini-container-col-left{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 10px;
    background-color: black;
    padding-bottom: 10px;
}
hr{
    margin: 10px 0;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 20%;
    background-color: gray;
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 10px;
}
.profile :nth-child(2){
    font-weight: bold;
}

/* col-right */
.col-right{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}
.trasparent-bar{
    position: fixed;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: end;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn{
    margin-right: 280px;
    display: inline-block;
    background-color: black;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    border-radius: 25px;
    padding: 15px 45px;
    transition: all 0s;
}
.content-main{
    padding-top: 100px;
    margin: 0 30px;
}
.lista-principale ul{
    display: flex;
    justify-content: center;
    padding-top: 20px;


}
.lista-principale ul li{
    color: #595c62;
    text-transform: uppercase;
    list-style-type: none; 
    margin: 0 20px;
    font-weight: bold;
}
.lista-principale ul li:hover{
    color: white;
    cursor: pointer;
}
.line{
    height: 2px;
    width: 40px;
    background-color: #8fd12c;
    text-align: center;
    margin: auto;
    margin-top: 2px;
}
.footer-music{
    height: 100px;
    width: 100%;
    background-color: #282828;
}